<component name="libraryTable">
  <library name="spring-boot-starter-0.5.0.M5">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter/0.5.0.M5/jar/c0b81e5b67f2d3ae506bd42e6cb480510c7e1f7b/spring-boot-starter-0.5.0.M5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>