<component name="libraryTable">
  <library name="spring-aop-4.0.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-aop/4.0.0.M3/jar/7a3f3346b0c6eceba41fdb1ea6a827447782e9cb/spring-aop-4.0.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-aop/4.0.0.M3/source/ab3db419f242eb36fcc7e71d9b51aac7491e0085/spring-aop-4.0.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>