<component name="libraryTable">
  <library name="spring-boot-0.5.0.M5">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.M5/jar/7b9d4374dac1759a06de2316c231f5b63c7a8a95/spring-boot-0.5.0.M5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.M5/source/6b0e19436b9cdab293a6c0667738117e9beb641a/spring-boot-0.5.0.M5-sources.jar!/" />
    </SOURCES>
  </library>
</component>