<component name="libraryTable">
  <library name="spring-expression-4.0.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-expression/4.0.0.M3/jar/e5962b771f6b9e46f659f95750b48217d201ce34/spring-expression-4.0.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-expression/4.0.0.M3/source/7f7b03e317c5bd878c8469d5d37dbfa946a9d4c7/spring-expression-4.0.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>