<component name="libraryTable">
  <library name="spring-beans-4.0.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-beans/4.0.0.M3/jar/3bf805d01f3e6d545dc67f1c7134463974f7a45b/spring-beans-4.0.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-beans/4.0.0.M3/source/92d9ac9adba0f22edbc6e6eebdaeb2ebc92eba29/spring-beans-4.0.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>