<component name="libraryTable">
  <library name="spring-context-4.0.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.M3/jar/a0b2a7a7654f8e65f7df21a2b53d7537ec51877/spring-context-4.0.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.M3/source/daee15367bf3ffaccf4df89137f156a508da76df/spring-context-4.0.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>